@{
    ViewData["Title"] = "Build";
    Layout = "";
}

<div id="content-box">
    <a asp-action="Towers" asp-controller="Admin"><button>Towers</button></a>
    <a asp-action="Motherboards" asp-controller="Admin"><button>Motherboards</button></a>
</div>