@{
    ViewData["Title"] = "Admin";
    Layout = "";
}
<head>
    <title>PC - @ViewData["Title"]</title>
</head>

<div id="content-box">
    <a asp-action="Towers" asp-controller="Admin"><button>Towers</button></a>
    <a asp-action="Fans" asp-controller="Admin"><button>Fans</button></a>
    <a asp-action="Memory" asp-controller="Admin"><button>Memory</button></a>
    <a asp-action="VideoCards" asp-controller="Admin"><button>Video Cards</button></a>
    <a asp-action="Motherboards" asp-controller="Admin"><button>Motherboards</button></a>
    <a asp-action="PowerSupplies" asp-controller="Admin"><button>Power Supplies</button></a>
    <a asp-action="Processors" asp-controller="Admin"><button>Processors</button></a>
    <a asp-action="Storage" asp-controller="Admin"><button>Storage</button></a>
</div>

<style>
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    a button {
        position: relative;
        display: table-cell;
        padding: 1em 0;
        width: 10em;
        cursor: pointer;
    }
</style>