@model PrecisionCustomPC.Models.AdminForm

<div class="editor-field">
    @Html.TextBoxFor(m => m.Username, new { placeholder="Username" })
    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
</div>