@{
    ViewData["Title"] = "Home Page";
}

<div id="coming-soon">
    <p id="title">Web Store Coming Soon</p>
    <a href="html/contact.html">Contact Us</a>
    <p id="message">for a free quote on your <br />Custom PC.</p>
</div>
