@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="css/about.css" />

<div id="content-box">
    <article id="mission" class="section">
        <h3>Mission: </h3>
        <span>To provide the highest level computer experience for entertainment, gaming, and business. We build superior PCs at a lower cost than big-box computer companies. <a href="html/contact.html">Contact</a> us today!</span>
    </article>
    <article id="people" class="section">
        <div id="andrew">
            <h3>Andrew</h3>
            <span>A CompTIA A+ certified IT Specialist and has been building custom PCs for a decade.</span>
        </div>
        <div id="joe">
            <h3>Joe</h3>
            <span>A software developer with a bachelor’s degree in computer science from University of Idaho.</span>
        </div>
    </article>
</div>
