@model PrecisionCustomPC.Models.ContactForm

@foreach (var property in ViewData.ModelMetadata.Properties)
{
    <div class="editor-field">
        @{
            if (property.PropertyName.Equals("Msg"))
            {
                <label class="textbox">Tell us about your PC needs.  How many are needed and what they will be used for.</label>
                @Html.TextArea(property.PropertyName);
            }
            else
            {
                <label>@property.GetDisplayName(): @{if (property.IsRequired){ <mark>*</mark> }}</label>
                @Html.Editor(property.PropertyName)
            }
        }
    </div>
}