/**** Menu ****/
menu {
    position: fixed;
    width: 100%;
    min-width: 50em;
    top: 0;
    background-color: #000;
    z-index: 100;
}
menu div {
    display: block;
    width: 40em;
    margin: auto auto;
}
menu ul {
    display: inline-block;
    margin: 0 -0.15em 0 -0.15em;
    font-family: 'exo_light_expanded';
    font-variant: small-caps;
    line-height: 1em;
}
menu ul > a {
    position: relative;
    display: block;
    width: 10em;
    padding: 0.8em 0 0.8em 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
menu ul > a:hover {
    color: #dfd;
    text-decoration: underline;
    text-shadow: 0 2px 4px #0f0;
}