@{
    ViewData["Title"] = "Contact";
}

<link rel="stylesheet" href="css/contact.css" />

<div id="content-box">
    <span id="facebook" class="contact">
        <p>Check us out on Facebook!</p>
        <a href="http://facebook.com/PrecisionCustomPC" target="_blank">
            <img src="images/fb-green.png" />
            Facebook.com/PrecisionCustomPC
        </a>
    </span>
    <span id="email" class="contact">
        <p>Shoot us an Email!</p>
        <a href="mailto:PrecisionCustomPC@gmail.com?Subject=Precision%20Custom%20Customer%20Contact" target="_blank">
            <img src="images/email.png" />
            PrecisionCustomPC@gmail.com
        </a>
    </span>
    <span id="business" class="contact">
        <p class="tagline">Precision Computers are a great option for your business!</p>
        <p>Unlike big-box computer companies, we use easily replaceable non-proprietary parts making our custom PCs a more cost effective solution.</p>
        <p>If you have a business need for new or replacement PCs, submit this form and we will send you a competitive quote!</p>
        <iframe frameborder="none" src="http://precisioncustompc.com/html/business_contact.php" allowTransparency="true" style="width:100%;height:20em;border:none;"></iframe>
    </span>
</div>